<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Articales :</title>
</head>
<body>
    <h1>All articales page ::</h1>
    <hr>
    <% for( let art of allArticales ) { %>
         <h2><%= art.title %></h2>
         <h3 ><%= art.body %></h3>   
         <hr> 
    <% } %>
</body>
</html>